@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200;300;400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --bg-color: #eef3f7;
  --main-color:#acb9c8;
  --dark-color:#7d839a;
  --light-color:#d5dbeb;
  --shadow: 0px 15px 35px -5px rgb(50 88 130 / 32%);
}

body{
  font-family: 'Bitter', serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container{
  position: relative;
}
img{
  position: absolute;
  top: 30px;
  left: -35px;
  max-width: 250px;
  border-radius: 15px;
  box-shadow: 1px 11px 19px 0px rgba(20,20,80,0.75);
}
.card{
  min-height: 450px;
  width: 370px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 15px;
  box-shadow: var(--shadow);
  background-color: var(--bg-color);

}
.buttons{
  width: fit-content;
  display:flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
}

.buttons i{
  color:var(--main-color);
  padding: 10px 0;
}
.autor{
  font-weight: bolder;
  padding: 15px 0;
  color:var(--dark-color);
}
.song{
  color:var(--light-color);
}
.progressBox{
  display: flex;
  flex-direction: column;
}
.progressBox p{
  color:var(--light-color);
}

.progressBox hr{
  border: 3px solid var(--dark-color);
  border-radius: 5px;
  color:var(--light-color);
}
#playBtn{
  border-radius: 100%;
  color: #fff;
}

#playBtn:hover{
  cursor: pointer;
}

#like:hover{
  cursor: pointer;
}
.progressBox .duration{
  align-self: flex-end;
  padding: 5px 0;
}